@media (max-width: 700px) {
    .container {
        height:calc(100vh - 80px);
        width: 100vw;
        background-color: whitesmoke;
        display: flex;
       
      }
    .wrapper {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
       
       
       
      
      }
      .left {
        display: flex;
        margin-left: 50px;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;
        flex: 1;
      }
     
      .left h1 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-right: auto;
        text-align: center;
      
      }
      .left h3 {
        color: #fab209;
        font-size: 1.3rem;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
   
       
      }
      .left p {
     
   display: block;
   
    
      }
      .left button {
        background-color: #010606;
        color: #fff;
        border: none;
        border-radius: 40px;
        height: 50px;
        width: 180px;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
       margin: auto;
      }
      .left.btn:hover {
        background-color: #fab209;
        color: #010606;
        transition: all 0.5s ease-in-out;
      }
      .right {
      
     
    height: 100%;
  
    width: 100%;
   margin-top:2rem;
        border: none;
       
        box-shadow:none;
        bottom: 0px;
       
      }
      .aboutImg{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
}

@media (min-width: 701px){
.container {
    height:calc(100vh - 80px);
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
  }
  .wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
    flex: 1;
  }
  .left h3 {
    color: #fab209;
    font-size: 4rempx;
   
  }
  .left h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
  }
  .left p {
    line-height: 1.7rem;
  }
  .left button {
    background-color: #010606;
    color: #fff;
    border: none;
    border-radius: 40px;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
  }
  .left button:hover {
    background-color: #fab209;
    color: #010606;
    transition: all 0.5s ease-in-out;
  }
  .right {
  
  
    height: 80%;
  
    width: 100%;
    border: none;
    border-radius: 20px;
    flex: 1;
    box-shadow: 20px 20px rgb(58, 55, 55);
  }
  .aboutImg{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    object-fit: cover;
  }
  .left.btn:hover {
    background-color: #fab209;
    color: #010606;
    transition: all 0.5s ease-in-out;
  }
}
 