
@media (min-width: 701px) {
    

.container {
    height: 600px;
    background-color: #000;
    width: 100vw;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
margin-top: 7.6rem;
}
.containContainer {
   height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 170px;
    margin-left: 30px;
}
.contain {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 150px;
    line-height: 50px;
}
.contain > a :hover{
  color:goldenrod ;
}
.contain h2 {
    color: #fff;
    margin-bottom: 20px;
}
.bottomContain {
 display: flex;
 align-items: center;
 justify-content: space-between;
    width:80%;
    gap: 0.7rem;
   margin-top: 3.5rem;
}
.bottomContain > h1 {
    color: #fff !important;
}
.bottomContain > p{
    color: #fff;
}
.icons{
    display: flex;
   
    gap: 2rem;
}

.icons .face:hover{
    background-color: goldenrod !important;
}
.icons .face{
    background-color: #fff;
    cursor: pointer;
}


}
@media (max-width: 700px) {
    .container {
        height: 100vh;
        background-color: #000;
        width: 100vw;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    

    }
    .containContainer {
       height:80% ;
        width: 100%;
        display: flex;
   

       
    }
    .contain {
        width: 90%;
      line-height: 3rem;
        display: flex;
       align-items: center;
       justify-content: center;
        flex-direction: column;
        font-size: 14px;
        margin: auto;
    

    }
    .contain > a :hover{
      color:goldenrod ;
    }
    .contain h2 {
        color: #a0834e;
        font-size: 1rem;
        text-align: center;
       
    }
    .bottomContain {
     display:block;
  
   
        width:100%;
       margin-bottom:50px;
    }
    .bottomContain > h1 {
        color: #fff !important;
        margin-bottom: 2.5rem;
    }
    .bottomContain > p{
        color: #fff;
        margin-bottom: 2.5rem;
    }
    .icons{
        display: flex;
       
        gap: 2rem;
    }
    
    .icons .face:hover{
        background-color: goldenrod !important;
    }
    .icons .face{
        background-color: #fff;
        cursor: pointer;
    }
}